html {
    max-width: 100%;
}

html,
body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    background-color: #3d3d3d;
    font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    position: relative;
    z-index: 1;
}


.Main1 {
    flex: 1;
    margin-left: 5%;
    margin-right: 5%;
    padding: 60px 20px 40px 20px;
    box-sizing: border-box;
}

.Main1 h2, .Main1 p {
    color: rgb(255, 255, 255);
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #817f7f;
    padding: 12px;
    text-align: left;
    color: white;
}

th {
    background-color: #3d3d3d;
    color: white;
}

input {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

/* Stile per il link */
td a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

td a:hover {
    text-decoration: underline;
    color: #0056b3;
}

#creavoce {
    color: white;
    border-radius: 30px;
    margin-left: 800px;
    padding: 8px 30px;
    transition: all 0.3s ease;
    font-size: 20px;
}



#creavoce:hover {
    color: white;
    text-shadow: 0 0 15px #d5e4e6, 0 0 30px #ffffff;
    text-decoration: none;
}

.Main,
footer,
form,
h1,
h2,
p {
    position: relative;
    z-index: 2;
}